/* Styling for the form with flexbox for input and button */
.form {
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Username input field */
.input {
  padding: 10px;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 200px;
  outline: none;
}

/* Login button */
.button {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.button:hover {
  background-color: #555;
}
